body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.mygov__navbar {
    height: 100vh;
    width: 200px !important;
    overflow: hidden;
    background: linear-gradient(135deg, rgb(24, 42, 115) 0%, rgb(33, 138, 174) 69%, rgb(32, 167, 172) 89%) !important;
}

.mygov__content {
    margin-left: 200px;
    padding: 16px;
}

.mygov__navbar-nav {
    width: 100%;
}

.ui.budget__segment {
    background: #ffffff;
}

.ui.segments {
    box-shadow: 0px 0px 30px 0px #d8d8d8;
    margin: 2rem 0;
}

.ui.selection.list>.item:hover {
    background: rgba(255, 255, 255, 0.1);
    color: rgba(0, 0, 0, .8);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.30)
}

.ui.list>.item>.content {
    line-height: 1;
}

.ui.list>.item .header {
    font-size: 26px;
    padding: 10px 16px;
    color: #ffffff;
    text-shadow: 1px 1px 1px black;
}